html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	background:url(images/bkgd_header.jpg)repeat-x;
	font-family: 'Open Sans', sans-serif !important;
}

strong{
	font-weight: bold;
}

a{
	color:#f4ba0b;
}

.container{
	padding-top:40px;
	
}

nav{
	text-transform: uppercase;
	float:right;
	margin-top:18px;
	font-size:1em;
}

.navbar{
	margin-bottom:0px;
}

.navbar-inverse .navbar-inner{
	background-color:transparent !important;
	background-image:none !important;
	
}

.navbar-inner {
	border:none !important;
	box-shadow:none !important;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
	color:#000;
	text-shadow:none;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li.current-menu-item {
	background-color:#183490;
}

.navbar-inverse .nav > li.current-menu-item a{
	color: #fff;
}

.carousel, .interior_feature{
	margin-left:20px;
	margin-bottom:0px;
}

.carousel.fade
{
    opacity: 1;
}

.carousel.fade .item
    {
        -moz-transition: opacity ease-in-out .7s;
        -o-transition: opacity ease-in-out .7s;
        -webkit-transition: opacity ease-in-out .7s;
        transition: opacity ease-in-out .7s;
        left: 0 !important;
        opacity: 0;
        top:0;
        position:absolute;
        width: 100%;
        display:block !important;
        z-index:1;
    }
.carousel.fade .item:first-child{
            top:auto;
            position:relative;
        }

.carousel.fade .item.active
        {
            opacity: 1;
            -moz-transition: opacity ease-in-out .7s;
            -o-transition: opacity ease-in-out .7s;
            -webkit-transition: opacity ease-in-out .7s;
            transition: opacity ease-in-out .7s;
            z-index:2;
        }

 .carousel-indicators li:hover{
 	cursor:pointer;
 }

.feature{
	margin-top:8px;
}

.header_title{
	right:0px;
	top:0px;
	position:absolute;
	z-index:3000;
	border-bottom:22px solid #000;
	font-size: 2.375em;
}

.header_title p{
	margin:60px 15px 10px 60px;
	line-height:1.5em;
}

.header_title p span{
	color:#183490;
}

.content{
	background:url(images/bkgd_content.jpg) repeat-x;
	min-height: 200px;
}

.events{
	margin-left:20px;

}

.events h1{
	font-size:1em;
	color:#fff;
	text-transform: uppercase;
	background-color:#000;
	padding:4px 0px 4px 20px;

}

.home_paragraph, .interior_paragraph{
	float:right;
	font-size:1em;
	line-height:1.7em;
}

.home_paragraph h1{
	color:#183490;
	font-size:1.5625em;
	margin-bottom:16px;
	margin-top:3px;
}

.eventHolder{
	margin-left:18px;
	line-height: 1.4em;
	font-size:.9em;
}

.eventHolder h3{
	color:#183490;
	margin-top:20px;
	margin-bottom:5px;

}

.button{
	display: inline-block;
	background-color:#183490;
	color: #fff;
	padding: 10px 20px;
	font-size: .9em;
	margin:10px 0px 0px 20px;
}

a.button:hover{
	background-color: #f4ba0b;
	color: #fff;
	text-decoration: none;
}

.interior_feature{
	margin-bottom:0px;
	padding-bottom:0px;

}

.interior_title{
	color:#000;
	font-size:2em;
	right:0px;
	top:80px;
	position:absolute;
	z-index:3000;
	border-bottom:22px solid #000;
}

.interior_title h1{
	margin-bottom:20px;
	margin-left:60px;
}

.row.feature{
	line-height:0px !important;
	position: relative;
}

.interior_paragraph p{
	margin:15px 0px;
	line-height: 1.7em;
}



.interior_paragraph h1{
	color:#183490;
	font-size:1.25em;
}

footer{
	margin:50px 0px;
	border-top:1px solid #e9e9e9;
	font-size:.75em;
	color:#aeaeae;
	line-height:1.7em;
}

footer .container{
	padding-top:15px !important;
	padding-left:20px;
}
footer .container a{
	color:#aeaeae;
	text-decoration: none;
}

